.App {
  font-family: sans-serif;
  text-align: center;
}

.nav-bar{
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  

}

.nav-list {
  display: flex;
  flex-flow: row;
  list-style: none;
  
}

.nav-list li {
  margin-left: 20px;
}





