.App {
  font-family: Arial, Helvetica;
  text-align: center;
}
.full-page {
  font-family: 'Inconsolata', monospace;
}
.react-img {
  width: 75px;
}

.nav-bar{
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
}

.nav-list {
  display: flex;
  flex-flow: row;
  list-style: none;
  margin-right: 10px;
  font-size: 20px;
 
}

.nav-list li {
  margin-left: 20px;
}

.list-header {
  font-family: 'Karla', sans-serif;
}

.list {
  margin-left: 30px;
}





